<div class="container">
  <div id="header">
    <app-header></app-header>
  </div>

<!--   <div class="error-msg" *ngShow='error'>
    {{ error }}
  </div> -->

  <div id="main">
    <div id="left-menu">
      <nav>
        <a routerLink="" title="Dashboard" class="break-item">
          Dashboard
        </a>
        <a routerLink="" title="Graphs" class="break-item">
          Graphs
        </a>
        <a routerLink="" title="Exchanges" class="break-item">
          Exchanges
        </a>
        <app-latest-block></app-latest-block>
      </nav>
    </div>
    <div id="result">
      <router-outlet></router-outlet>
    </div>    
  </div>

</div>

