.detail
  padding: 20px
  margin: 15px
  display: flex
  flex-direction: column
  justify-content: space-between
  flex-wrap: wrap
  word-wrap: anywhere

.back-btn
  background-color: #008000
  border: none
  color: white
  padding: 15px 32px
  text-align: center
  text-decoration: none
  display: flex
  margin: 5px
  font-size: 10px

.detail-item
  border: 1px solid #847d7d
  background-color: #f7f7f7
  border-radius: 5px
  padding: 15px
  margin: 5px  