<div class="txn-title">Transactions for BCT Address: {{ bctAddress }}</div>

<div class="txn-search">
  <input
    type="search"
    [(ngModel)]="txnFilter"
    placeholder="Filter by value in Satoshi"
  />
</div>

<cdk-virtual-scroll-viewport
  itemSize="10"
  class="txn-result"
  (scrolledIndexChange)="nextPage($event)"
>
  <div
    *cdkVirtualFor="
      let transaction of filteredTransactions;
      let i = index;
      trackBy: trackByIndex
    "
    class="txn-item"
  >
    <div class="txn-time">
      {{ transaction.time | epochToTimestamp | date: "yyyy-MM-dd HH:mm" }}
    </div>

    <div class="txn-id">
      <a [routerLink]="['/transaction-details', transaction.hash]">
        {{ transaction.hash }}
      </a>
    </div>

    <div
      class="txn-value"
      [style.color]="
        (transaction.result | satoshiToCoin) > 0 ? '#008000' : '#ff0000'
      "
    >
      {{ transaction.result | satoshiToCoin | number: "2.2-3" }} BCT
    </div>

    <div class="txn-length">[{{ transaction.out.length }}]</div>
  </div>
</cdk-virtual-scroll-viewport>
