<div class="txn-title">Transactions for BCT Address: {{ bctAddress }}</div>

<div class="txn-search">
  <input
    type="search"
    [(ngModel)]="txnFilter"
    placeholder="Filter by value in Satoshi"
  />
</div>

<div class="txn-result">
  <div *ngFor="let transaction of filteredTransactions" class="txn-item">
    <div class="txn-time">
      <!-- TODO: use built in pipe within custom pipe -->
      {{ transaction.time | epochToTimestamp | date: "yyyy-MM-dd HH:mm" }}
    </div>

    <div class="txn-id">
      <a [routerLink]="['/transaction-details', transaction.hash]">
        {{ transaction.hash }}
      </a>
    </div>

    <div
      class="txn-value"
      [style.color]="
        (transaction.result | satoshiToCoin) > 0 ? '#008000' : '#ff0000'
      "
    >
      {{ transaction.result | satoshiToCoin | number: "2.2-3" }} BCT
    </div>

    <div class="txn-length">[{{ transaction.out.length }}]</div>
  </div>
</div>
